<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../img/logo.png">
</head>
<body>
<div class="bar">
    <!--<a href="">
        <img class="logo" src="/img/logo.png" alt="logo">-->
    <div style="margin-right: 150px; padding-top: 1.2vh; padding-bottom: 1vh; text-align: center;" class="t"><a href=""
                                                                                                                style="text-decoration: none;
		color: white;">Телефон</a><br><a style="text-decoration: none;
		color: white;" href="">Почта</a></div>
    <!--<a class="t" href="">Каталог</a>
    <a class="t" href="">Отзывы</a>
    <a class="t" href="">Популярные решения</a>-->
</div>

<div class="land">
    <h1>Название компании и что-то еще</h1>
    <div>
        <img width="60%" src="../static/img/1.png">
    </div>

</div>

<div class="out products">
    <div class="in">
        <h4>Наши работы</h4>
        <div class="product"><p>Первый вид</p><a href="">Подробнее</a></div>
        <div class="product"><p>Второй вид</p><a href="">Подробнее</a></div>
        <div class="product"><p>Третий вид</p><a href="">Подробнее</a></div>
    </div>
</div>

<div class="out replies">
    <div class="in">
        <h4>Отзывы</h4>
        <div class="reply" style="margin-top: 0;"><h5>Райан, загородный дом с окнами в Европу, сентябрь 1939 года</h5>
            <p>Мой батя ебашит вообще адовые блюда. Ну такой вот примерно рецепт усредненный, потому что вариаций масса.
                Берется суп, он не греется, греть - это не про моего батю. Он берет это суп, вываливает его на сковороду и
                начинает жарить. Добавляет в него огромное количество лука, чеснока, перца черного и красного МУКИ! для
                вязкости, томатная паста сверху.</p></div>
        <div class="reply"><h5>Чак, квартира на темной стороне Луны, февраль 2033 года</h5>
            <p>Все это жарится до дыма. Потом снимается с огня и остужается на балконе. Потом батя заносит и щедро полив
                майонезом начинает есть. При этом ест со сковороды шкрябая по ней ложкой. Ест и приговаривает полушепотом
                ух бля. При этом у него на лбу аж пот выступает. Любезно мне иногда предлагает, но я отказываюсь. Надо ли
                говорить о том какой дичайший пердеж потом? Вонища такая, что обои от стен отклеиваются.</p></div>
    </div>
</div>

<div class="out catalog">
    <div class="in">
        <h4 style="margin-bottom: 0;">Популярные варианты</h4>
        <table width="100%" class="cattable" cellspacing="40px">
            <tr>
                <td width="30%" class="cat"><h6>Окно <br>деревянное</h6><a href="">Перейти</a></td>
                <td width="30%" class="cat"><h6>Окно <br>каменное</h6><a href="">Перейти</a></td>
                <td width="30%" class="cat"><h6>Окно <br>железное</h6><a href="">Перейти</a></td>
            </tr>
            <tr>
                <td width="30%" class="cat"><h6>Окно <br>золотое</h6><a href="">Перейти</a></td>
                <td width="30%" class="cat"><h6>Окно <br>алмазное</h6><a href="">Перейти</a></td>
                <td width="30%" class="cat"><h6>Окно <br>обсидиановое</h6><a href="">Перейти</a></td>
            </tr>
        </table>
        <p class="da">Каталог отменяется нахуй</p>
    </div>
</div>


<div class="footer">
    <div class="out contacts">
        <div class="in">
            <h4>Как с нами связаться</h4>
            <p>Легко и непринужденно</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/headhesive.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/headhesive.min.js"></script>
</body>
</html>