<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="static/img/logo.png">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="bar">
		<a href="" class="logo">ИНТЕРСТРОЙ</a>
		<div class="links"><a href="tel:79032444480" style="text-decoration: none;
		color: white;">+7 (903) 244-44-80</a><br><a style="text-decoration: none;
		color: white;" href="mailto: rsd10@mail.ru">rsd10@mail.ru</a></div>
		<div class="linksmob"><a href="tel:79032444480"><img class="linksimg" src="static/img/phone.png" alt=""></a><a href="mailto: rsd10@mail.ru"><img class="linksimg" src="static/img/mail.png" alt=""></a></div>
	</div> 
	
	<div class="land">
        <h1>Окна ПВХ - «Интерстрой»</h1>
		</div>

			<div class="out products">
                <div class="in">
                    <h4>Наши работы</h4>
                    <div class="product"  style="background-image: url(static/img/example1.jpg);"><p>ГКБ ИМЕНИ С.П. БОТКИНА</p></div>
                    <div class="product"  style="background-image: url(static/img/example2.jpg);"><p>ЦЕНТР ГОСУСЛУГ</p></div>
                    <div class="product"  style="background-image: url(static/img/example3.jpg);"><p>КП «БРЕМЕН»</p></div>
                </div>
			</div>

			<div class="out replies">
                <div class="in">
                    <h4>Отзывы</h4>
                    <div class="reply" style="margin-top: 0;"><h5>Дмитрий, район Черёмушки, офисное здание</h5><p>Заказывали остекление офисного здания, объём работы был большой, но со всем справились в срок, выполненной работой довольны.</p></div>
                    <div class="reply"><h5>Алексей, Новая Москва, загородный дом</h5><p>Сделали остекление загородного дома и прилегающей к нему веранды. Работа была выполнена качественно, в названные сроки уложились. Были спорные моменты с пожеланиями по некоторым деталям оформления, компания переделала то, что не понравилось.</p></div>
                </div>
			</div>
			
			<div class="out production">
			    <div class="in">
			        <h4>Наше производство</h4>
			        <div style="width: 60%; display: inline;">
			            <img class="prodimg" src="static/img/production.jpg" alt="">
			        </div>
			        <div style="display: inline;">
			            <p class="prodpar">Компания «Интерстрой» имеет собственное производство изделий из ПВХ/алюминия и предоставляет весь спектр услуг, связанных с пластиковыми окнами. Завод по производству окон расположен в Новой Москве и оборудован всем необходимым для качественной сборки окон.</p>
			        </div>
			    </div>
			</div>
			
			<!--<div class="out catalog">
              <div class="in">
                <h4 style="margin-bottom: 0;">Популярные решения</h4>
                    <div class="cat" ><div class="catin" style="background-image: url(img/popular1.png);"></div><p>Корпоративные заказы</p></div>
                    <div class="cat" ><div class="catin" style="background-image: url(img/popular2.jpg);"></div><p>Частные заказы</p></div>
              </div>
            </div>
            -->

			<div class="footer">
			    <div style="display: inline-block; float: left"><p>Телефон: +7 (903) 244-44-80<br> Почта: rsd10@mail.ru <br> Адрес: г. Москва, г. Троицк, Октябрьский проспект, дом 1 <br> Производство: г. Москва, поселение Щаповское</p></div>
			</div>
    
			<script type="text/javascript" src="js/main.js"></script>
			<script type="text/javascript" src="js/headhesive.min.js"></script>
</body>
</html>