@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800');
body 
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
}

/*Стили для ПК*/

@media screen and (min-width: 769px) 
{
	.bar 
	{
		width: 100%;
		height: 8vh;
		padding-top: 0;
		opacity: 0;
		color: black;
        background: #fafafa;
	}
    
    .headhesive 
	{
		position: fixed;
		width: 100%;
		padding-top: 0;
		opacity: 1;
        background: rgba(150,150,150,0);
		transition: 0.7s;
		text-shadow: 2px 2px 1px black;
	}

	.headhesive--stick 
	{
		opacity: 1;
		background: rgba(150,150,150,0.7);
		transition: 0.7s;
		text-shadow: 1px 1px 3px black;
	}

	.logo
	{
		height: 100%;
		margin-left: 5vw;
        text-decoration: none;
        font-size: 3.5vh;
        font-weight: 700;
        color: #f15560;
        text-shadow: none;
		padding-top: 1.3vh;
        display: inline-block;
	}

	.links
	{
		font-size: 2.1vh;
		text-decoration: none;
		color: white;
		margin-right: 80px;
		float: right;
        margin-right: 150px; 
        padding-top: 1.2vh; 
        padding-bottom: 1vh; 
        text-align: center;
	}
    
    .linksmob
	{
		display: none;
	}

	.land 
	{
		width: 100%;
		height: 104vh;
		background: white;
		margin-top: -12vh;
        background-image: url(img/back.jpg);
        background-size: cover;
	}

	.out
	{
		padding: 1px 0 6vh 0;
		font-size: 20px;
		text-align: center;
	}
    
    .in   
    {
        width: 80vw;
        margin-left: 10vw;
    }
    
    .products
    {
       background-color: #f5f5f5; 
    }
    
    .production
    {
        background-color: #f5f5f5;
        height: auto;
        min-height: 60vh;
    }
    
    .replies
    {
        
    }
    
    .catalog
    {
        background-color: #f5f5f5;
    }

	.footer
	{
		background-color: #404040;
		height: 50vh;
	}
    
    .footer>div
    {
        font-size: 80%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vh;
        color: white;
    }

    h1
	{
		text-align: center;
		padding: 30vh 15vw 0vw 0vw;
		font-size: 10vh;
		color: white;
		font-weight: 400;
        margin-top: 0;
	}
    
    h4 
    {
        font-size: 28px;
        font-weight: 300;    
    }
    
    h5
    {
        text-align: left;
        color: #00696b;
        font-size: 80%vh;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    h6
    {
        text-align: left;
        margin-left: 2vw;
        font-size: 1.8vh;
        font-weight: 600;
    }
    
    .product
    {
        height: 20vh;
        background-color: white;
        width: 24vw;
        margin-left: 2vw;
        display: inline-block;
        margin-bottom: 2vw;
        background-size: cover;
    }
    
    .product>p
    {
        margin-top: 21vh;
        
    }
    
    .prodimg
    {
        width: 60%;
        float: left;
        height: 45vh;
        object-fit: cover;
        margin-right: 3vw;
    }
    
    .prodpar
    {
        margin-right: 5vw;
        margin-bottom: 15%;
        text-align: left;
        padding-top: 3vh;
        max-height: 50vh;
        height: auto;
    }
    
    .reply
    {    
        border-radius: 40px;
        background-color: #f0f0f0;
        margin-top: 3vh;
        padding: 2vh 3vw 2vh 3vw;
    }
    
    .reply>p
    {
        text-align: left;
        font-size: 70%;
        margin-right: 15vw;
    }
    
    .cat
    {
        height: 30vh;
        width: 35vw;
        display: inline-block;
        margin: 2vh 1vw 2vh 1vw;
        text-align: center;
        
    }
    
    .catin
    {
        background-size: cover;
        height: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .da
    {
        display: none;
    }
}

/*Стили для телефонов*/

@media screen and (max-width: 768px)
{
	.bar 
	{
		width: 100%;
		height: 10vh;
        opacity: 0;
	}
    
    .headhesive 
	{
		position: fixed;
		width:100%;
		padding-top: 0;
		opacity: 1;
		transition: 0.7s;
		text-shadow: 2px 2px 1px black;
	}

	.headhesive--stick 
	{
		opacity: 1;
		background: rgba(150,150,150,0.7);
		transition: 0.7s;
		text-shadow: 1px 1px 3px black;
	}

	.links
	{
        display: none;
	}
    
    .linksmob
	{
        display: inline-block;
        float: right;
	}
    
    .linksimg
    {
        height: 5vh;
        float: right;
        margin-top: 2.5vh;
        margin-right: 8vw;
    }
    
    .logo
	{
		height: 100%;
		margin-left: 5vw;
        text-decoration: none;
        font-size: 3.5vh;
        font-weight: 700;
        color: #f15560;
        text-shadow: none;
		padding-top: 2.8vh;
        display: inline-block;
	}

	.land 
	{
		width: 100%;
		height: 100vh;
		background: white;
        background-image: url(img/back.jpg);
        background-size: cover;
        margin-top: -10vh;
	}
    
    .products
    {
       background-color: #f5f5f5; 
    }
    
    .production
    {
        background-color: #f5f5f5;
    }
    
    .replies
    {
        
    }
    
    .catalog
    {
        background-color: #f5f5f5;
    }

	.footer
	{
		background-color: #404040;
		height: 20vh;
	}
    
    .footer>div
    {
        font-size: 2vh;
        color: white;
    }
    
    h1
	{
		text-align: center;
		padding: 25vh 20vw 0vw 0vw;
		font-size: 5vh;
		color: white;
		font-weight: 400;
        margin-top: 0;
	}
    
    h4 
    {
        text-align: center;
        font-size: 28px;
        font-weight: 300;    
    }
    
    h5
    {
        text-align: left;
        color: #00696b;
        font-size: 2vh;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    h6
    {
        text-align: left;
        margin-left: 2vw;
        font-size: 1.8vh;
        font-weight: 600;
    }

	.out
	{
		padding: 5vh 10vw 3vh 10vw;
		font-size: 20px;
	}
    
    .product
    {
        height: 25vh;
        width: 80vw;
        background-color: white;
        background-image: url(img/2.jpg);
        background-size: cover;
        margin-top: 7vh; 
        margin-bottom: 5vh;
        padding-top: 1vh;
        padding-left: 5vw;
    }
    
    .product>p
    {
        color: black;
        font-size: 3vh;
        font-weight: 300;
        text-align: left;
        margin-top: 25vh;
    }
    
    .product>a
    {
        font-size: 2vh;
        font-weight: 300;
        color: white;
        text-decoration: none;
        float: left;
        margin-top: 5vh;
        transition: 0.5s;
    }
    
    .reply>p
    {
        text-align: left;
        font-size: 1.9vh;
        margin-right: 15vw;
    }
    
    .prodimg
    {
        width: 100%;
        max-width: 95vw;
    }
    
    .prodpar
    {
        font-size: 20px;
        text-align: center;
    }
    
    .cat
    {
        height: 30vh;
        width: 80vw;
        display: inline-block;
        margin: 4vh 1vw 4vh 1vw;
        text-align: center;
    }
    
    .catin
    {
        background-size: cover;
        background-position: center;
        height: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .footer>div>p
    {
        line-height: 35px;
    }
}